<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.system.mapper.NoteMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="noteResultMap" type="org.springblade.modules.system.entity.NoteEntity">
        <result column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="remark" property="remark"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>
        <result column="params" property="params"/>
        <result column="content" property="content"/>
        <result column="icon" property="icon"/>
    </resultMap>


    <select id="selectNotePage" resultMap="noteResultMap">
        select * from blade_note where is_deleted = 0
    </select>


    <select id="exportNote" resultType="org.springblade.modules.system.excel.NoteExcel">
        SELECT * FROM blade_note ${ew.customSqlSegment}
    </select>

</mapper>
